---
layout: default
section_id: Yoga Day 2020
services:
- name: Dr. Durriya Shipchandler 
  topic: Yes you can - Eat for health. 8 AM CST (6:30 PM IST, 2 PM BST) 
  bio: "Dr. Durriya Shipchandler is a  Homoeopathic doctor by qualification.
She found her inner calling in the holistic reversal of diabetes and other lifestyle disorders through Residential Retreats at their eco farm near Pune, India. Her endeavour is towards propagating a medicine free life for all.She is the lead facilitator of the “Freedom From Diabetes” Residential program."
  yoga: A way of life in sync with the laws of nature.
  image: images/speaker1.png
  image_position: left
- name: Dr. Kedar Upadhyay 
  topic: Know thyself through Ayurveda. 9 AM CST (7:30 PM IST, 3 PM BST) 
  bio: "Dr. Kedar is an Ayurvedic doctor and a music therapist. Practicing since 2007, he specializes in chronic diseases at four of his clinics in Gujarat, India. The amalgamation of ancient Ayurvedic wisdom with modern scientific approach is his point of interest. For more info, kindly visit www.ayurvedatreatmentcentre.com"
  yoga: "યોગ એ મારા માટે મારી જાત સાથે રહેવાની પ્રક્રિયા છે (Yoga for me, is a process to BE with myself)."
  image: images/speaker2.png
  image_position: left
- name: Anup Desai 
  topic: Journey to Freedom. 10 AM CST (8:30 PM IST, 4 PM BST) 
  bio: "Anup is an entrepreneur from Surat, India. As someone who has suffered from a variety of physical and mental problems since a young age, yoga has been a saving grace for completely transforming his life. From taking 10 pills a day to 0, his story will inspire anyone to follow a holistic lifestyle."
  yoga: Yoga is magic, yoga is cure, yoga is life.
  image: images/speaker3.png
  image_position: left
- name: Zeal Desai
  topic:  Pajama Yoga - The real deal. 11 AM CST (9:30 PM IST, 5 PM BST)
  bio: "Zeal is an international holistic yoga consultant. Certified by the Yoga institute, she is currently pursuing the Himalayan Teacher Transformation Program. A Duke University and UT Austin graduate, she is a student of life who gave up the corporate life for learning, teaching and holistic living."
  yoga: "યોગ - શ્રેષ્ઠ જીવન નો માર્ગ (Yoga is an ideal way of life). "
  image: images/speaker4.png
  image_position: left
- name: Rupert Eyles
  topic: De-fidget the body, and provide space to house uncomfortable energies through meditation. 2 PM CST (12:30 AM IST, 8 PM BST)
  bio: "Rupes is a gentle, global soul on a many-lives’ journey to meet the world and reflect on how we can bloom brighter as a community. He focuses on cultivating greater self-compassion and inner openness, teaching yoga and meditation while also turning to writing and authentic relating to express and share feelings and ideas."
  yoga: Yoga is the practice of reuniting awareness with self, of deeping your journey inward through mindful shapes and movements brought together by the breath.
  image: images/speaker5.png
  image_position: left
- name: Ekaterina Morozova
  topic:  Yoga - una manera de vivir. 3 PM CST (1:30 AM IST, 9 PM BST)  
  bio: "Estudió literatura universal con especialidad en literatura rusa y lengua árabe. Empezó su formación en el yoga a los 21 años y hasta la fecha sigue con su trabajo de autoexploración. Actualmente junto con su esposo tienen un centro que integra el arte y la espiritualidad con fines terapéuticos. "
  yoga: "Йога - это сама жизнь. Yoga is life itself"
  image: images/speaker6.png
  image_position: left
- name: Víctor Ernesto Zi Chin
  topic:  Yoga - una manera de vivir. 3 PM CST (1:30 AM IST, 9 PM BST)  
  bio: "Estudió música, medicina china y psicología. Se dedica a promover la salud desde el punto de vista integral. Actualmente junto con su esposa tienen un centro que integra el arte y la espiritualidad con fines terapéuticos. "
  yoga: Yoga está en todas partes. Yoga is everywhere.
  image: images/speaker7.png
  image_position: left
- name: Aydee Bobadilla (Lakshmi Seva Kaur)  
  topic: Fortalece y Expande tu Aura. 4 PM CST (2:30 AM IST, 10 PM BST) 
  bio: "Fundadora de Casa Lakshmi Cancún y Maestra de Yoga Kundalini con certificación internacional por Kundalini Research Institute (KRI). Especialidad en comunicación consciente y relaciones auténticas. ThetaHealing y Reiki."
  yoga: Yoga Kundalini es el Yoga de la Consciencia que te enseña a conocer tu verdadera identidad para unir tu cuerpo, mente y alma (Kundalini yoga is the yoga of consciousness. It teaches you to know your true identity to communicate and unite the body, mind and soul). 
  image: images/speaker8.png
  image_position: left
---

<div class="full light-green centered-text">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">Yoga Day 2020</h1>
      </div>
    </div>
  </div>
</div>
<div class="full centered-text">
  <div class="section-title small">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <div class="spacing"></div>
        <h2>Authentic Yoga for All!</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <p class="big-text">
             <a href="https://us02web.zoom.us/meeting/register/tZAlfu6qqjkqGNC4lkRh0XGoiGsvk7s5LDQa" target="_blank"><strong>Register here for FREE access / Click aquí para registrarte GRATIS</strong></a> 
      </p>
      <p class="big-text">
Authentic Yoga for All is a first effort bringing together expert teachers from India, UK, Mexico and Russia to celebrate the International Yoga Day, 2020. It is an online all-day event on Sunday, June 21st from 8 AM - 5 PM CST. We will share the practical and easy application of yoga in daily life in English and Spanish. We believe that yoga is a holistic way of life that should be accessible to everyone for its ability to unite the mind, body, spirit, and emotions without external aids. Only 1% of Yoga is about the physical postures, come and experience what the other 99% is about. 
      <p class="big-text">
Can’t make it? No worries, we will be recording and posting the live events.
      </p>
      <p class="big-text">
     <img src="/images/idy2020Poster.png" align="center" width="70%" class="centerImg" alt="Speakers for International Day of Yoga 2020"> 
      </p>
    </div>
  </div>
  <div class="section-title small">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <div class="spacing"></div>
        <div class="spacing"></div>
        <div class="spacing"></div>
        <div class="spacing"></div>
        <h2>Our Speakers</h2>
      </div>
    </div>
  </div>
</div>
{% for service in page.services %}
  <div class="full no-padding">
    <div class="row">
      {% if service.image_position == 'left' %}
        <div class="medium-6 columns">
          <p class="speaker">
          <img src="{{site.url}}/{{service.image}}" alt="">
          </p>
        </div>
        <div class="medium-6 columns">
          <div class="service-info right-text">
            <h2>{{service.name}}</h2>
            <p><strong>Topic:</strong> {{service.topic}}</p>
            <p>{{service.bio}}</p>
            <p><strong>Yoga according to me:</strong> {{service.yoga}}</p>
          </div>
        </div>
      {% else %}
        <div class="medium-6 columns">
          <div class="service-info right-text">
            <h2>{{service.name}}</h2>
            <p><strong>Topic:</strong> {{service.topic}}</p>
            <p>{{service.bio}}</p>
            <p><strong>Yoga according to me:</strong> {{service.yoga}}</p>
            <div class="two spacing"></div>
          </div>
        </div>
        <div class="medium-6 columns">
          <img class="imggallery" src="{{site.url}}/{{service.image}}" alt="">
        </div>
      {% endif %}
    </div>
    <div class="two spacing"></div>
  </div>
{% endfor %}
</div>
