---
layout: default
section_id: home
slides:
- title: TODO Brand / Web design
  text: Color displays the <span>soul</span>
  bg_color: "#F7C162"
  image: images/@stock/introSlide1.png
- title: TODO Brand / Web design
  text: Less is <span>more</span>
  bg_color: "#c9c9c9"
  image: images/@stock/introSlide2.png
- title: TODO Brand / Web design
  text: Do a <span>happy</span> dance
  bg_color: "#f6c418"
  image: images/@stock/introSlide3.png

milestones:
- title: Years doing Yoga
  from: 0
  to: 20
- title: Languages
  from: 0
  to: 5
- title: Days in Ashrams
  from: 0
  to: 80
- title: Blog Articles
  from: 0
  to: 2

testimonials_left:
- author: David Lame - CEO of Wollen store
  content: “Obcaecati voluptate ullam pariatur reiciendis optio harum
    quae aut, eveniet explicabo. Commodi pariatur ut provident.”
  avatar: images/@stock/author-1.png
testimonials_right:
- author: Sherley Hewai - CEO of Wollen store
  content: Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Explicabo eveniet asperiores ipsum saepe ab, aliquid veritatis incidunt
    laudantium modi accusamus quidem eum magni.
  avatar: images/@stock/author-2.png
---

<div class="full no-padding" style="height: 100vh;">
  <div id="slides">
    <div class="slides-container">
      {% for slide in page.slides %}
        <div class="slide">
          <div class="slide-info">
            <p>{{ slide.title }}</p>
            <h1>{{ slide.text }}</h1>
            <div class="three spacing"></div>
          </div>
          <div class="slide-left" style="background-color: {{ slide.bg_color }};">
          </div>
          <div class="slide-right" style="background: url({{ slide.image }}) center center no-repeat;background-size: cover;">
          </div>
        </div>
      {% endfor %}
    </div>
    <nav class="slides-navigation">
      <a href="#" class="next"><i class="icon-arrows-slim-right"></i></a>
      <a href="#" class="prev"><i class="icon-arrows-slim-left"></i></a>
    </nav>
  </div>
</div>
<div class="full light-grey centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <img src="images/@stock/om-small.png" alt="" class="wow flipInY" data-wow-duration="2s" data-wow-delay="0.1s">
        <div class="spacing"></div>
        <h2>Hi, I'm Zeal!</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <p class="big-text">
I am a global citizen and certified yoga teacher from India with a focus on holism, an integral yogic approach. Having practiced yoga since I was 10, I left my international corporate job to learn tools for a joyful and meaningful life. A believer of unity in diversity. I am always zealous to share my knowledge and experiences.
      </p>
      <div class="two spacing"></div>
      <a href="about.html" class="button boxed">Know more</a>
    </div>
  </div>
</div>
<div class="full centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Recent posts</h2>
        <p>TODO: Know what we are thinking and doing.</p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for post in site.posts limit:3 %}
      <div class="large-4 columns">
        <div class="post recent-post">
          {% if post.images %}
            <a href="{{post.url}}" class="home"><img src="{{site.url}}/{{post.images[0]}}" alt="post"></a>
            <div class="spacing"></div>
          {% endif %}
          <h4>{{post.title}}</h4>
          <p class="info">
            <span>{{ post.date | date: "%B %d, %Y" }}</span>
          </p>
          <div class="spacing"></div>
          <p><a href="{{post.url}}" class="button boxed brown">Read more</a></p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full light-grey zealTall">
  <div class="three spacing"></div>
  <div class="row">
    {% for milestone in page.milestones %}
      <div class="large-3 columns ">
        <div class="milestone centered-text">
          <div class="number" style="color: #333" data-from="{{milestone.from}}" data-to="{{milestone.to}}"> </div>
          <span>{{milestone.title}}</span>
          <div class="spacing"></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="three spacing"></div>
</div>
<div class="full centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Donations</h2>
        <p>Your generosity towards my upcoming projects is always appreciated. Get in touch with me so I can update you on what is coming</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="GDK2DMVQWXY5S" />
<input type="hidden" name="currency_code" value="USD" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>
      </div>
    </div>
  </div>
</div>
