---
layout: defaultpost
section_id: blog
---

<div id="fb-root"></div> <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=1306917442811717"></script>

<div class="full">
  <div class="post single">
    {% if page.images %}
      <div class="post-header" style="background-image: url({{site.url}}/{{page.images[0]}})">
      </div>
    {% endif %}
    <div class="four spacing"></div>
    <div class="row">
      <div class="large-9 large-centered columns">
        <div class="post-content">
          <h2>{{page.title}}</h2>
          <p class='info'>
            {% if page.categories != empty %}
              <span>
                {% for cat in page.categories %}
                  <a href="{{ site.url }}/blog/{{ cat }}.html">{{cat | capitalize }}</a>
                  {% unless forloop.last %}
                      ,
                  {% endunless %}
                {% endfor %}
              </span>
              /
            {% endif %}
            <span>{{page.date | date: "%B %d, %Y" }}</span>
            /
            <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read
            /
            <span><a href="#comments"><span class="fb-comments-count" data-href="{{ site.url }}{{ page.url }}"></span> Comments</a></span>
          </p>
          {{content}}
          {% include share-page.html %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-9 large-centered columns">
      </div>
    </div>
  </div>
</div>
<a name="comments"></a>
<div class="full light-grey">
  <div class="row">
    <div class="large-9 large-centered columns">
      <a name="comments"></a>
      <h2>
        Comments
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="large-9 large-centered columns">
      <div class='comments-wrapper'>
       <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="10" data-width="100%"></div> 
      </div>
    </div>
  </div>
</div>
<div class="full light-grey">
  <nav class='wrapper'>
    <div class="row">
      <div class="small-6 columns">
        {% if page.previous.url %}
          <a class="previous button boxed black" href='{{page.previous.url}}'>
            Previous
          </a>
        {% endif %}
      </div>
      <div class="small-6 columns">
        {% if page.next.url %}
          <a class="next button boxed black" href='{{page.next.url}}'>
            Next
          </a>
        {% endif %}
      </div>
    </div>
  </nav>
</div>
